@import "tailwindcss";

@theme {
  --font-family-playfair: 'Playfair Display', sans-serif;
  --font-family-sans: "DM Sans";
  --font-family-serif: "DM Serif Text"
}

.playfair {
  font-family: var(--font-family-playfair)
}

.serif {
  font-family: var(--font-family-serif)
}

.sans {
  font-family: var(--font-family-sans)
}

.bg-gradient-custom {
  background: linear-gradient(90deg, #fcf5e7, #d7f4ba);
}